---
name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  checkstyle_job:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    name: Checkstyle job
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'

#      - name: Make Gradle wrapper executable
#        run: chmod +x ./gradlew
#
#      - name: Run checkstyle
#        run: ./gradlew checkstyleMain
